.root {
     -fx-background-image: url("TestBackground.png");
}
.label {
    -fx-font-size: 35px;
    -fx-text-fill: #fff;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
    	-fx-font-family: BIRTH_OF_A_HERO;
}
#statusLabel {
    -fx-font: bold italic 20pt "Arial";
    -fx-effect: dropshadow( one-pass-box , black , 8 , 0.0 , 2 , 0 );
}
#detailLabel {
    -fx-font: bold italic 15pt "Arial";
    -fx-effect: dropshadow( one-pass-box , black , 8 , 0.0 , 2 , 0 );
}
#mainLabel {
    -fx-font: bold italic 35pt "Arial";
    -fx-effect: dropshadow( one-pass-box , black , 8 , 0.0 , 2 , 0 );
}
#titleLabel {
    -fx-font: bold italic 45pt "Arial";
    -fx-effect: dropshadow( one-pass-box , white , 8 , 0.0 , 2 , 0 );	
	
}
