

.root {
     -fx-background-image: url("TestBackground.png");
}


.label {
    -fx-font-size: 45px;
    -fx-text-fill: #000;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 1,1,1,3 );
	-fx-font-family: BIRTH;

}

